* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table { 
  border-collapse: collapse;
}

td, th {
  padding: 4px 8px;
  border: none;
  border: 1px solid gray;
}

.base {
  padding: 4px 8px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  width: 18px;
  height: 18px;
}

.triggered,
.hover:hover,
.active:active,
.focus:focus,
.checked:checked,
.hover:hover ~ p,
.active:active ~ p,
.focus:focus ~ p,
.checked:checked ~ p {
  color: white;
  background-color: blue;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
